
<div class="jumbotron">
  <h1><i class="fa fa-bar-chart" aria-hidden="true"></i> Integracción y limpieza</h1>
  <p></p>
</div>

In [2]:
from pandas import read_csv
from pandas import to_datetime
from pickle import dump
import datetime

## Integración

In [3]:
# Esta face se omite debido a que sólo es un archivos CSV

## Carga datos

In [4]:
df = read_csv('Data/dataset-evento-caso.csv', error_bad_lines=False)

b'Skipping line 3205: expected 4 fields, saw 7\nSkipping line 15279: expected 4 fields, saw 7\nSkipping line 18424: expected 4 fields, saw 7\nSkipping line 21726: expected 4 fields, saw 7\nSkipping line 35713: expected 4 fields, saw 7\nSkipping line 36283: expected 4 fields, saw 7\nSkipping line 38556: expected 4 fields, saw 7\nSkipping line 39669: expected 4 fields, saw 7\nSkipping line 44415: expected 4 fields, saw 7\nSkipping line 46079: expected 4 fields, saw 7\nSkipping line 46303: expected 4 fields, saw 7\nSkipping line 48735: expected 4 fields, saw 7\nSkipping line 49717: expected 4 fields, saw 7\nSkipping line 57763: expected 4 fields, saw 7\nSkipping line 60274: expected 4 fields, saw 7\nSkipping line 60401: expected 4 fields, saw 7\nSkipping line 62804: expected 4 fields, saw 7\nSkipping line 63521: expected 4 fields, saw 7\nSkipping line 66142: expected 4 fields, saw 7\nSkipping line 71158: expected 4 fields, saw 7\nSkipping line 73160: expected 4 fields, saw 7\nSkipping line 77847: expected 4 fields, saw 7\nSkipping line 79510: expected 4 fields, saw 7\nSkipping line 79999: expected 4 fields, saw 7\nSkipping line 82983: expected 4 fields, saw 7\nSkipping line 86586: expected 4 fields, saw 7\nSkipping line 89362: expected 4 fields, saw 7\nSkipping line 91797: expected 4 fields, saw 7\nSkipping line 93233: expected 4 fields, saw 7\nSkipping line 98031: expected 4 fields, saw 7\nSkipping line 99787: expected 4 fields, saw 7\nSkipping line 101012: expected 4 fields, saw 7\nSkipping line 101060: expected 4 fields, saw 7\nSkipping line 104430: expected 4 fields, saw 7\n'

In [5]:
errores = 'Skipping line 3205: expected 4 fields, saw 7\nSkipping line 15279: expected 4 fields, saw 7\nSkipping line 18424: expected 4 fields, saw 7\nSkipping line 21726: expected 4 fields, saw 7\nSkipping line 35713: expected 4 fields, saw 7\nSkipping line 36283: expected 4 fields, saw 7\nSkipping line 38556: expected 4 fields, saw 7\nSkipping line 39669: expected 4 fields, saw 7\nSkipping line 44415: expected 4 fields, saw 7\nSkipping line 46079: expected 4 fields, saw 7\nSkipping line 46303: expected 4 fields, saw 7\nSkipping line 48735: expected 4 fields, saw 7\nSkipping line 49717: expected 4 fields, saw 7\nSkipping line 57763: expected 4 fields, saw 7\nSkipping line 60274: expected 4 fields, saw 7\nSkipping line 60401: expected 4 fields, saw 7\nSkipping line 62804: expected 4 fields, saw 7\nSkipping line 63521: expected 4 fields, saw 7\nSkipping line 66142: expected 4 fields, saw 7\nSkipping line 71158: expected 4 fields, saw 7\nSkipping line 73160: expected 4 fields, saw 7\nSkipping line 77847: expected 4 fields, saw 7\nSkipping line 79510: expected 4 fields, saw 7\nSkipping line 79999: expected 4 fields, saw 7\nSkipping line 82983: expected 4 fields, saw 7\nSkipping line 86586: expected 4 fields, saw 7\nSkipping line 89362: expected 4 fields, saw 7\nSkipping line 91797: expected 4 fields, saw 7\nSkipping line 93233: expected 4 fields, saw 7\nSkipping line 98031: expected 4 fields, saw 7\nSkipping line 99787: expected 4 fields, saw 7\nSkipping line 101012: expected 4 fields, saw 7\nSkipping line 101060: expected 4 fields, saw 7\nSkipping line 104430: expected 4 fields, saw 7\n'

In [6]:
print("Existen ",len(errores.split('\n')),"datos incorrectos")

Existen  35 datos incorrectos

<div class="alert alert-info" role="alert">
<ul>
<li> Existe error en los datos. 35 renglones tiene un caracter ' (comilla simple) que no se cierra.
<li> Los datos reprensetan menos el 1% , asi que se omite la correción del error
<li> Los datos se descartan   
</div>

In [7]:
df

,Event,Epoch,Nickname,Message
0,evento-preba,1631667946940,Camila@user#7893749|,'En el telefono casi no se trabaaa'
1,evento-preba,1631667132732,KelineGar@user#7022313|,"'si hacen un grupo de chat, me agregan 899 899..."
2,evento-preba,1631670291603,jaqie@user#0225576|,'ya minimo me aparece al baner jajaj'
3,evento-preba,1631668249860,chika@user#7905795|,'chikaaaaa'
4,evento-preba,1631673203385,Magaly@user#3150738|,'Eres la mejor Arti'
...,...,...,...,...
105166,evento-preba,1631669483968,Selene@user#9438343|,'Si igual me parece 0 persona'
105167,evento-preba,1631668178763,ELI7@user#8144981|,'NO SE VE'
105168,evento-preba,1631671090678,Nill@user#0993182|,'Escríbeme'
105169,evento-preba,1631670023478,amanda@user#9864459|,'a mi me ha sacado 3 veces'
105170,evento-preba,1631668215413,KSCORONA@user#8122853|,'Que pedo'

In [8]:
df.Nickname.nunique()

58298

### Dimensiones del dataframe

In [135]:
df.shape

(105171, 4)

### Features

In [136]:
df.columns

Index(['Event', 'Epoch', 'Nickname', 'Message'], dtype='object')

## Valores nulos o faltantes

In [137]:
df.isnull().sum()

Event       0
Epoch       0
Nickname    0
Message     0
dtype: int64

### Valores nulos como porcentaje

In [138]:
((df.isnull().sum() / len(df))*100).sort_values(ascending = False)

Message     0.0
Nickname    0.0
Epoch       0.0
Event       0.0
dtype: float64

<div class="alert alert-info" role="alert">
<ul>
<li> No existen datos faltantes
    
</ul>
</div>

### Eliminar datos nulos

In [139]:
# No aplica

### Verificar datos

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105171 entries, 0 to 105170
Data columns (total 4 columns):
Event       105171 non-null object
Epoch       105171 non-null int64
Nickname    105171 non-null object
Message     105171 non-null object
dtypes: int64(1), object(3)
memory usage: 3.2+ MB

## Transformar columnas datetime

### Variable `Epoch`

In [168]:
df.Epoch = df.Epoch.apply(lambda timestamp: datetime.datetime.fromtimestamp(int(timestamp)/1000))

## Obtener el nombre de las variables categorical

In [143]:
# No aplica

In [144]:
#

## Marcar la variable objetivo

In [145]:
# No aplica

In [146]:
#label = ''

## Convertir las variables a tipo `category`

In [147]:
# No aplica

In [148]:
#for i in range(len(cat_col)):
#    df[cat_col[i]] = df[cat_col[i]].astype('category')

## Convertir la variable objetivo  a tipo `category`

In [149]:
# No aplica

In [150]:
#df[label]= df[label].astype('category')

In [151]:
df.dtypes

Event       object
Epoch        int64
Nickname    object
Message     object
dtype: object

## Lipieza de datos tipo texto

### Elimanar comillas

In [152]:
df.Message = df.Message.apply(lambda x: x.strip("'"))

### Tokenizar Nickname

In [153]:
df['mail'] = df.Nickname.apply(lambda x: x.split("#")[0])
df['id'] = df.Nickname.apply(lambda x: x.split("#")[1])

In [154]:
del df['Nickname']

### Eliminar '|' de id

In [155]:
df.id = df.id.apply(lambda x: x.strip("|"))

## Elimnar columnas supefluas

In [159]:
del df['Event']

## Vista final

In [169]:
df

,Epoch,Message,mail,id
0,2021-09-14 20:05:46.940,En el telefono casi no se trabaaa,Camila@user,7893749
1,2021-09-14 19:52:12.732,"si hacen un grupo de chat, me agregan 899 899 ...",KelineGar@user,7022313
2,2021-09-14 20:44:51.603,ya minimo me aparece al baner jajaj,jaqie@user,0225576
3,2021-09-14 20:10:49.860,chikaaaaa,chika@user,7905795
4,2021-09-14 21:33:23.385,Eres la mejor Arti,Magaly@user,3150738
...,...,...,...,...
105166,2021-09-14 20:31:23.968,Si igual me parece 0 persona,Selene@user,9438343
105167,2021-09-14 20:09:38.763,NO SE VE,ELI7@user,8144981
105168,2021-09-14 20:58:10.678,Escríbeme,Nill@user,0993182
105169,2021-09-14 20:40:23.478,a mi me ha sacado 3 veces,amanda@user,9864459
105170,2021-09-14 20:10:15.413,Que pedo,KSCORONA@user,8122853

## Ordenar data frame utilizando algún criterio

In [173]:
df.sort_values(by='Epoch', ascending=True, inplace = True)

### Almacenar el `dataframe` en formato pickle

In [174]:
# Store data 
with open('data/data_cleansing.pickle', 'wb') as handle:
    dump(df, handle)